body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    padding: 30px;
}

.title {
    padding: 15px;
    background-color: #ffffff;
    border: 4px dashed #3399ff;
    border-radius: 16px;
    width: 600px;
    margin: 0 auto 20px;
    text-align: center;
}

.report {
    width: 600px;
    height: 340px;
    margin: 0 auto;
    padding: 20px;  
    background-image: url(ramka.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 640px auto;
}

.report p {
    padding: 36px 40px 0 40px;
}
